<div class="checkboxes-list">
    <div class="btn-group">
        <a class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            {{#if useStaticDisplayVal}}
                {{staticDisplayVal}}
            {{else}}
                {{displayVal}}
            {{/if}}
             <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{#each options as |option|}}
                <li>
                    <a href="#" {{action "toggleOption" option bubbles=false}}
                       class="{{if option.isDisabled 'disabled'}}">
                        <span class="glyphicon {{if option.isSelected 'glyphicon-check' 'glyphicon-unchecked'}}"></span>
                        {{option.label}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
    {{yield}}
</div>