<div class="container">
    <!-- -->
    <div class="row">
        <div class="col-md-12">
            <h3>Basic usage</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">{{checkboxes-list identifier=example1FieldName attributes=example1Attributes}}</div>
        <div class="col-md-9">
            <pre><code>{{example1FieldName}}: {{tostring example1Value}}</code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><code>Usage:</code></p>
            <pre><code class="language-handlebars">\{{checkboxes-list identifier=example1FieldName attributes=example1Attributes}}</code></pre>
            <p><code>example1FieldName:</code></p>
            <pre><code class="language-javascript">{{tostring example1FieldName}}</code></pre>
            <p><code>triggered action:</code></p>
            <pre><code class="language-javascript">{{tostring this._actions.checkboxesListUpdate}}</code></pre>
        </div>
        <div class="col-md-4">
            <p><code>example1Attributes:</code></p>
            <pre><code class="language-javascript">{{tostring example1Attributes}}</code></pre>
        </div>
    </div>
    <!-- -->
    <!-- -->
    <div class="row">
        <div class="col-md-12">
            <h3>Custom <code>emptySelectionMessage</code></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">{{checkboxes-list identifier=example2FieldName attributes=example2Attributes emptySelectionMessage=example2EmptySelectionMessage}}</div>
        <div class="col-md-9">
            <pre><code>{{example2FieldName}}: {{tostring example2Value}}</code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><code>Usage:</code></p>
            <pre><code class="language-handlebars">\{{checkboxes-list identifier=example2FieldName attributes=example2Attributes emptySelectionMessage=example2EmptySelectionMessage}}</code></pre>
            <p><code>example2EmptySelectionMessage:</code></p>
            <pre><code class="language-javascript">{{tostring example2EmptySelectionMessage}}</code></pre>
            <p><code>example2FieldName:</code></p>
            <pre><code class="language-javascript">{{tostring example2FieldName}}</code></pre>
            <p><code>triggered action:</code></p>
            <pre><code class="language-javascript">{{tostring this._actions.checkboxesListUpdate}}</code></pre>
        </div>
        <div class="col-md-4">
            <p><code>example2Attributes:</code></p>
            <pre><code class="language-javascript">{{tostring example2Attributes}}</code></pre>
        </div>
    </div>
    <!-- -->
    <!-- -->
    <div class="row">
        <div class="col-md-12">
            <h3>Custom <code>allowedToSelect</code></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">{{checkboxes-list identifier=example3FieldName attributes=example3Attributes allowedToSelect=example3AllowedToSelect}}</div>
        <div class="col-md-9">
            <pre><code>{{example3FieldName}}: {{tostring example3Value}}</code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p><code>Usage:</code></p>
            <pre><code class="language-handlebars">\{{checkboxes-list identifier=example3FieldName attributes=example3Attributes allowedToSelect=example3AllowedToSelect}}</code></pre>
            <p><code>example3AllowedToSelect:</code></p>
            <pre><code class="language-javascript">{{tostring example3AllowedToSelect}}</code></pre>
            <p><code>example3FieldName:</code></p>
            <pre><code class="language-javascript">{{tostring example3FieldName}}</code></pre>
            <p><code>triggered action:</code></p>
            <pre><code class="language-javascript">{{tostring this._actions.checkboxesListUpdate}}</code></pre>
        </div>
        <div class="col-md-4">
            <p><code>example3Attributes:</code></p>
            <pre><code class="language-javascript">{{tostring example3Attributes}}</code></pre>
        </div>
    </div>
    <!-- -->
</div>